@import "tailwindcss";

:root {
  --background: #FFFFFF; /* Fondo blanco para un aspecto limpio */
  --foreground: #1A1A1A; /* Texto oscuro para una alta legibilidad */
  --accent: #2251B5;    /* Un azul profesional para botones y elementos clave */
  --border-light: #E5E5E5; /* Borde claro */
  --border-dark: #A0A0A0;  /* Borde oscuro para contraste */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A; /* Dark gray for a low-key dark mode */
    --foreground: #F5F5F5; /* Lighter text for dark mode */
    --accent: #6486E7;     /* A purple accent in dark mode */
    --border-light: #4A4A4A;
    --border-dark: #6D6D6D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* New CSS for the white background image */
.bg-bequ-white-pattern {
  background-image: url('/images/bg_bequ2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.supabase-auth-ui_ui-anchor[href="#auth-sign-up"] {
  font-size: 1.3em !important;
  font-weight: bold !important;
}