@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;
  --accent: #2563EB;
  --border-light: #E5E7EB;
  --border-dark: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F2937;
    --foreground: #E5E7EB;
    --accent: #6366F1;
    --border-light: #4B5563;
    --border-dark: #374151;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Nueva clase CSS para la imagen de fondo */
.bg-bequ-pattern {
  background-image: url('/images/bg_bequ.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.supabase-auth-ui_ui-anchor[href="#auth-sign-up"] {
  font-size: 1.3em !important;
  font-weight: bold !important;
}