.slideIn {
  animation: slide-in 1.0s forwards;
  opacity: 0;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}